<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>NodeDrainer</title>

    <style>
        table.table-wide {
            width: auto !important;
        }

        table.table-wide td, table.table-wide th {
            white-space: nowrap;
        }

        a.anchor {
            display: block;
            position: relative;
            top: -6.5em;
            visibility: hidden;
        }
    </style>
  </head>
  <body class="mb-4 ml-3 mr-3">
    <nav class="navbar fixed-top navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="">NodeDrainer</a>

      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="#combined-pods">Combined Pods</a></li>
        <li class="nav-item"><a class="nav-link" href="#combined-instances">Combined Instances</a></li>
        <li class="nav-item"><a class="nav-link" href="#spot-requests">Spot Requests</a></li>
        <li class="nav-item"><a class="nav-link" href="#asg-lifecycle">ASG Lifecycle</a></li>
        <li class="nav-item"><a class="nav-link" href="#kubernetes-nodes">Kubernetes Nodes</a></li>
        <li class="nav-item"><a class="nav-link" href="#ec2">EC2</a></li>
        <li class="nav-item"><a class="nav-link" href="#pods">Pods</a></li>
      </ul>
    </nav>

    <div class="container-flex" style="margin-top:5em;">
        <h1>Status Page</h1>

        <h3>Combined Pods</h3>
        <a class="anchor" id="combined-pods"></a>

        <table class="table table-hover table-sm table-wide">
          <thead>
            <tr>
              <th>Instance ID</th>
              <th>Node Name</th>
              <th>Pod Name</th>
              <th>Ready</th>
              <th>Can Decement</th>
              <th>Properties</th>
            </tr>
          </thead>
          <tbody>
              {{ range .CombinedPods }}
              <tr>
                <td>{{ .Instance.InstanceID }}</td>
                <td>{{ .NodeName }}</td>
                <td>{{ .Name}}</td>
                <td>
                  {{ if .Ready}}
                        <span class="badge badge-success">Ready</span>
                  {{ else }}
                        <span class="badge badge-warning">Unready</span>
                  {{ end }}
                </td>
                <td>
                  {{ if eq .OwnerReady.Short "UnknownKind" }}
                    <span class="badge badge-warning" title="{{ .OwnerReady.Reason }}">{{ .OwnerReady.Short }}</span>
                  {{ else if .OwnerReady.CanDecrement }}
                    <span class="badge badge-success" title="{{ .OwnerReady.Reason }}">{{ .OwnerReady.Short }}</span>
                  {{ else }}
                    <span class="badge badge-danger" title="{{ .OwnerReady.Reason }}">{{ .OwnerReady.Short }}</span>
                  {{ end }}
                </td>
                <td>
                  {{ if ne .Pod.OwnerKind "" }}
                    <span class="badge badge-info" title="{{ .Pod.OwnerName }}">{{ .Pod.OwnerKind }}</span>
                  {{ end }}
                  {{ if .Instance.WantsShutdown }}
                    <span class="badge badge-warning">Node Wants Shutdown</span>
                  {{ end }}
                  {{ if .NeedsEviction }}
                    <span class="badge badge-warning">Pod Needs Eviction</span>
                  {{ end }}
                  {{ if .Pod.ImmuneToEviction }}
                    <span class="badge badge-primary">Pod Immune To Eviction</span>
                  {{ end }}
                </td>
              </tr>
            {{ end }}
          </tbody>
        </table>

        <h3>Combined Instances</h3>
        <a class="anchor" id="combined-instances"></a>

        <table class="table table-hover table-sm table-wide">
          <thead>
            <tr>
              <th>Instance ID</th>
              <th>Host Name</th>
              <th>Instance Name</th>
              <th>State</th>
              <th>Launch Time</th>
              <th>Triggered At</th>
              <th>Termination Time</th>
              <th>Properties</th>
            </tr>
          </thead>
          <tbody>
              {{ range .CombinedInstances }}
              <tr>
                <td>{{ .InstanceID }}</td>
                <td>{{ .NodeName }}</td>
                <td>{{ .EC2.InstanceName }}</td>
                <td>
                    {{ if eq .EC2.State "running" }}
                        <span class="badge badge-success">Running</span>
                    {{ else if eq .EC2.State "terminated" }}
                        <span class="badge badge-danger">Terminated</span>
                    {{ else if eq .EC2.State "shutting-down" }}
                        <span class="badge badge-warning">Shutting Down</span>
                    {{ else if eq .EC2.State "pending" }}
                        <span class="badge badge-info">Pending</span>
                    {{ else }}
                        <code>{{ .EC2.State }}</code>
                    {{ end }}
                </td>
                <td>{{ PrettyTime .EC2.LaunchTime }}</td>
                <td>{{ PrettyTime .ASG.TriggeredAt }}</td>
                <td>{{ PrettyTime .EC2.TerminationTime }}</td>
                <td>
                    {{ if .WantsShutdown }}
                        <span class="badge badge-warning">WantsShutdown</span>
                    {{ end }}
                    {{ template "pretty_node_taints" .Node.Taints }}
                </td>
              </tr>
            {{ end }}
          </tbody>
        </table>

        <h3>Spot Requests</h3>
        <a class="anchor" id="spot-requests"></a>

        <table class="table table-hover table-sm table-wide">
          <thead>
            <tr>
              <th>Instance ID</th>
              <th>Request ID</th>
              <th>Create Time</th>
              <th>State</th>
              <th>Status Code</th>
              <th>Status Update Time</th>
            </tr>
          </thead>
          <tbody>
            {{ range .SpotInstances }}
              <tr>
                <td>{{ .InstanceID }}</td>
                <td>{{ .RequestID }}</td>
                <td>{{ PrettyTime .CreateTime }}</td>
                <td>
                    {{ if eq .State "active" }}
                        <span class="badge badge-success">Active</span>
                    {{ else if eq .State "closed" }}
                        <span class="badge badge-danger">Closed</span>
                    {{ else }}
                        <code>{{ .State }}</code>
                    {{ end }}
                </td>
                <td><code>{{ .StatusCode }}</code></td>
                <td>{{ PrettyTime .StatusUpdateTime }}</td>
              </tr>
            {{ end }}
          </tbody>
        </table>


        <h3>ASG Lifecycle</h3>
        <a class="anchor" id="asg-lifecycle"></a>

        <table class="table table-hover table-sm table-wide">
          <thead>
            <tr>
              <th>Instance ID</th>
              <th>Triggered</th>
              <th>Completed</th>
              <th>Deleted</th>
            </tr>
          </thead>
          <tbody>
            {{ range .ASGInstances }}
              <tr>
                <td>{{ .ID }}</td>
                <td>{{ PrettyTime .TriggeredAt }}</td>
                <td>
                    {{ if .Completed }}
                        <span class="badge badge-success">yes</span>
                    {{ else }}
                        <span class="badge badge-info">no</span>
                    {{ end }}
                </td>
                <td>
                    {{ if .Deleted }}
                        <span class="badge badge-success">yes</span>
                    {{ else }}
                        <span class="badge badge-info">no</span>
                    {{ end }}
                </td>
              </tr>
            {{ end }}
          </tbody>
        </table>

        <h3>Kubernetes Nodes</h3>
        <a class="anchor" id="kubernetes-nodes"></a>

        <table class="table table-hover table-sm table-wide">
          <thead>
            <tr>
              <th>Instance ID</th>
              <th>Node Name</th>
              <th>Schedulable</th>
              <th>Taints</th>
            </tr>
          </thead>
          <tbody>
            {{ range .Nodes }}
              <tr>
                <td>{{ .InstanceID }}</td>
                <td>{{ .NodeName }}</td>
                <td>
                  {{ if .Unschedulable }}
                        <span class="badge badge-warning">Unschedulable</span>
                  {{ else }}
                        <span class="badge badge-success">Schedulable</span>
                  {{ end }}
                </td>
                <td>
                  {{ template "pretty_node_taints" .Taints }}
                </td>
              </tr>
            {{ end }}
          </tbody>
        </table>

        <h3>EC2</h3>
        <a class="anchor" id="ec2"></a>

        <table class="table table-hover table-sm table-wide">
          <thead>
            <tr>
              <th>Instance ID</th>
              <th>Node Name</th>
              <th>Instance Name</th>
              <th>Type</th>
              <th>AZ</th>
              <th>Lifecycle</th>
              <th>State</th>
              <th>Launch Time</th>
              <th>Termination Time</th>
            </tr>
          </thead>
          <tbody>
            {{ range .EC2Instances }}
              <tr>
                <td>{{ .InstanceID }}</td>
                <td>{{ .NodeName }}</td>
                <td>{{ .InstanceName }}</td>
                <td>{{ .InstanceType }}</td>
                <td>{{ .AvailabilityZone }}</td>
                <td>{{ .InstanceLifecycle }}</td>
                <td>
                    {{ if eq .State "running" }}
                        <span class="badge badge-success">Running</span>
                    {{ else if eq .State "terminated" }}
                        <span class="badge badge-danger">Terminated</span>
                    {{ else if eq .State "shutting-down" }}
                        <span class="badge badge-warning">Shutting Down</span>
                    {{ else if eq .State "pending" }}
                        <span class="badge badge-info">Pending</span>
                    {{ else }}
                        <code>{{ .State }}</code>
                    {{ end }}
                </td>
                <td>{{ PrettyTime .LaunchTime }}</td>
                <td>{{ PrettyTime .TerminationTime }}</td>
              </tr>
            {{ end }}
          </tbody>
        </table>

        <h3>Pods</h3>
        <a class="anchor" id="pods"></a>

        <table class="table table-hover table-sm table-wide">
          <thead>
            <tr>
              <th>Node Name</th>
              <th>Pod Name</th>
              <th>Namespace</th>
              <th>Created Time</th>
              <th>Ready</th>
              <th>Can Decement</th>
              <th>Owner</th>
            </tr>
          </thead>
          <tbody>
            {{ range .Pods }}
              <tr>
                <td>{{ .NodeName }}</td>
                <td>{{ .Name }}</td>
                <td>{{ .Namespace }}</td>
                <td>{{ PrettyTime .CreatedTime }}</td>
                <td>
                  {{ if .Ready}}
                        <span class="badge badge-success">Ready</span>
                  {{ else }}
                        <span class="badge badge-warning">Unready</span>
                  {{ end }}
                </td>
                <td>
                  {{ if eq .OwnerReady.Short "UnknownKind" }}
                    <span class="badge badge-warning" title="{{ .OwnerReady.Reason }}">{{ .OwnerReady.Short }}</span>
                  {{ else if .OwnerReady.CanDecrement }}
                    <span class="badge badge-success" title="{{ .OwnerReady.Reason }}">{{ .OwnerReady.Short }}</span>
                  {{ else }}
                    <span class="badge badge-danger" title="{{ .OwnerReady.Reason }}">{{ .OwnerReady.Short }}</span>
                  {{ end }}
                </td>
                <td>
                  {{ if eq .OwnerKind "" }}
                    <span class="badge badge-warning">None</span>
                  {{ else }}
                    <span class="badge badge-info">{{ .OwnerKind }}</span>
                    {{ .OwnerName }}
                  {{ end }}
                </td>
              </tr>
            {{ end }}
          </tbody>
        </table>
    </div>
  </body>
</html>
